*{
    margin: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

h3 {
    text-align: left;
    margin-top: 30px;
}

h4 {
    margin-top: 10px;
}

/* professional references */
#references {
    width: 100%;
    display: flex;
    text-align: left;
    background-color: #fff9f7;
    padding: 30px;
    flex-direction: column;
    align-items: center;
}

#professional {
    display: flex;
    flex-direction: column;
}

#row {
    padding-bottom: 10px;
}

#professional .row {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #fff9f7;
}

#professional .cell {
    flex: 1;
    padding: 5px 10px;
    border-left: 2px solid #204165;
}

#professional .header {
    flex: 1;
    padding: 5px 10px;
}

/* personal references */
#personal {
    display: flex;
    flex-direction: column;
}

#row {
    padding-bottom: 10px;
}

#personal .row {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #fff9f7;
}

#personal .cell {
    flex: 1;
    padding: 5px 10px;
    border-left: 2px solid #204165;
}

#personal .header {
    flex: 1;
    padding: 5px 10px;
}


/* static */
#page-wrapper {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

header {
    text-align: left;
    padding: 10px;
    color: #722d2c;
}

#container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

body {
    color: #204165;
    background-color: #f0f0f0;
    margin: 10px;
}

header ,footer {
    background-color: #f4dbe3;
}

nav {
    background-color: #e6dda4;
    width: 30%;
    display: flex;
    justify-content: center;
}

nav ul {
    padding-left: 0;
    list-style: none;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li{
    background-color: #f6f7eb;
    padding: 5%;
    margin: 15px;
    width: 95%;
    font-size: calc(14px + .5vw);
}

nav a {
    text-decoration: none;
    color: #272727;
}

main {
    height: 100vh;
    width: 100%;
}

/*above is desktop. below is phone*/
@media screen and (max-width: 750px) {
    header {
        text-align: center;
    }

    #page-wrapper {
        width: 100%;
        margin: 0;
    }

    #container {
        flex-direction: column;
        width: 100%;
    }

    nav {
        width: 100%;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 2px;
    }

    nav li {
        width: auto;
        margin: 2px;
        padding: 4px 8px;
        font-size: calc(12px + .5vw);
    }

    h2 {
        text-align: center;
    }

    main {
        width: 100%;
    }
}